page-home {
    .Screen{
        background-color: #b4aeae;
    }
    .Item{
        background-color: #a39c9c;
        border-radius: 25px;
        box-shadow: 0px 10px 5px #999494;
        margin-bottom: 20px;
    }
}
